
<div class="footer-inner">
    <div class="logo-wrapper">
        Logo
    </div>
    <nav class="main-navigation-wrapper">
        <ul class="main-navigation">
            <li class="main-navigation__item">
                <a class="main-navigation__link" routerLink="/">Home</a>
            </li>
            <li class="main-navigation__item">
                <a class="main-navigation__link" routerLink="/photography">Photography</a>
            </li>
            <li class="main-navigation__item">
                <a class="main-navigation__link" routerLink="/development">Development</a>
            </li>
            <li class="main-navigation__item">
                <a class="main-navigation__link" routerLink="/about">About</a>
            </li>
        </ul>
    </nav>

</div>